@import "tailwindcss";

@theme {
  --color-primary: #0b0d14;
  --color-secundary: #c4972e;
  --color-third: #d68e02;
  --color-fourth: #f3cb69;
  --color-font-secundary: #576273;
  --color-font-third: #4e390e;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: #0b0d14;
  background-image: radial-gradient(circle, rgba(11, 38, 65, 0.4) 0%, rgba(11, 38, 65, 0) 70%);
}

#root {
  width: 100%;
  min-height: 100vh;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
